<!doctype html>
<html>
<head>
  <meta charset="{{encoding}}">
  {{#version}}<meta name="generator" content="cleaver {{version}}" />{{/version}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{title}}</title>
  <style type="text/css">
    {{{style}}}
  </style>
</head>
<body>
<div class="reveal">
    <div class="slides">
      {{{slideshow}}}
    </div>
</div>
<script>
    {{{script}}}
</script>
</body>
</html>
