<!doctype html>
<html>
<head>
  <meta charset="{{encoding}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="reveal/reveal.min.css">
  <link rel="stylesheet" href="reveal/default_reveal_theme.css">
  <link rel="stylesheet" href="reveal/zenburn.css">
  <style type="text/css">
    {{{style}}}
  </style>
</head>
<body>
<div class="reveal">
    <div class="slides">
      {{{slideshow}}}
    </div>
</div>
<script type="text/javascript" src='reveal/script.js'></script>
<script>
     Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        theme: 'default',
        transition: 'default'
    })
</script>
</body>
</html>
